.approved-section {
    margin-top: 100px;
}

.approved-section h2 {
    font-size: 42px;
    margin-bottom: 40px;
}

.transactions-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.transactions-grid {
    display: grid;
    overflow: hidden;
    grid-template-columns:
        repeat(3, 1fr);

    gap: 24px;

    width: 100%;
}

.transaction-card {
    background: white;

    border: 1px solid #e8e8e8;

    border-radius: 18px;

    padding: 28px;

    min-height: 130px;

    transition: 0.2s ease;
}

.transaction-card h3 {
    font-size: 36px;

    margin-bottom: 12px;

    color: #1f1f1f;
}

.transaction-card p {
    font-size: 24px;

    color: #666;
}

.arrow-button {
    width: 48px;
    height: 48px;

    min-width: 48px;

    border: none;

    border-radius: 50%;

    background: white;

    box-shadow:
        0 4px 14px rgba(0, 0, 0, 0.08);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

.arrow-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.arrow-button.right {
    transform: rotate(180deg);
}


@media (max-width: 1000px) {
    .transactions-grid {
        grid-template-columns: 1fr;
    }
}