.transaction-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search-box {
    position: relative;
    width: 320px;
}

.search-box label {
    position: absolute;
    top: -10px;
    left: 14px;

    background: #f7f7f7;

    padding: 0 8px;

    font-size: 14px;
    color: #6b46c1;
}

.search-box select {
    width: 100%;
    height: 72px;

    border: 3px solid #6b46c1;
    border-radius: 12px;

    background: white;

    padding: 0 20px;

    font-size: 28px;

    outline: none;
}

.time-card {
    width: 460px;

    background: #ddd1f3;

    border-radius: 40px;

    padding: 36px;
}

.time-card h3 {
    margin-bottom: 30px;

    font-size: 22px;
    color: #46325f;
}

.time-display {
    display: flex;
    align-items: center;
    gap: 20px;
}

.time-box {
    width: 150px;
    height: 110px;

    border-radius: 16px;

    border: 3px solid #6b46c1;

    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 64px;
    color: #2d1b49;
}

.time-box.inactive {
    border: none;
    background: #ece7f6;
}

.dots {
    font-size: 72px;
    color: #2d1b49;
}

.time-labels {
    display: flex;
    gap: 175px;

    margin-top: 14px;

    color: #46325f;
}

.form-footer {
    margin-top: 40px;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.cancel-btn {
    background: transparent;
    border: none;

    font-size: 22px;
    color: #6b46c1;

    cursor: pointer;
}

.simulate-btn {
    background: transparent;
    border: none;

    font-size: 22px;
    font-weight: 700;

    color: #6b46c1;

    cursor: pointer;
}

.simulate-btn:disabled {
    opacity: 0.5;
}

.time-input {
    width: 150px;
    height: 110px;

    border-radius: 16px;

    border: 3px solid #6b46c1;

    background: white;

    text-align: center;

    font-size: 64px;

    color: #2d1b49;

    outline: none;
}

.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}